{% extends "SITEAPP/base.html" %}
{% load static %}
{% block content %}

<div id="content">


				<h1 class="title title-large">Les activités à faire à Marrakech </h1>

				<div class="post-content">
					<p>Destination animée et passionnante, Marrakech offre un mélange parfait de culture, de paysages magnifiques, et une architecture fascinante. Celle qu’on surnomme « La Perle du Sud » ou encore « La Ville Rouge »</p>

<h2> La Palmeraie de Marrakech</h2>
<p><img class="aligncenter size-full wp-image-326" src="https://cdn.generationvoyage.fr/2017/07/visiter-marrakech.jpg" alt=" La Palmeraie de Marrakech" width="770" height="370"></p>
<p>La Palmeraie de Marrakech compte plus de 100.000 arbres sur environ 15.000 hectares, principalement des palmiers ainsi qu’une production de dattes et un potager. C’est un patrimoine naturel et touristique très connu au Maroc que vous devez absolument faire si vous venez visiter Marrakech.En plus, il est possible d’explorer cet endroit lors d’une balade à dos de chameau ou bien le temps d’une randonnée en quad !</p>
<h2>  Le Jardin Majorelle</h2>
<p><img class="aligncenter size-full wp-image-326" src="https://cdn.generationvoyage.fr/2017/07/visiter-marrakech1.jpg" alt=" Le Jardin Majorelle" width="770" height="370"></p>
<p>Immanquable dans la nouvelle ville : le Jardin Majorelle (jardin botanique aux couleurs bleutées). Le jardin a appartenu au créateur de mode Yves Saint Laurent. À sa mort en 2008, ses cendres ont été dispersées dans le jardin.</p>
<h2>Le Musée de Marrakech</h2>
<p><img class="aligncenter size-full wp-image-326" src="https://cdn.generationvoyage.fr/2017/07/visiter-marrakech2-e1551431786695.jpg" alt="Le Musée de Marrakech" width="770" height="370"></p>
<p>En plus d’en apprendre sur l’histoire de Marrakech, une visite au Musée de Marrakech vous donnera l’occasion d’apprécier l’une des plus belles architectures de la ville. Installé dans le centre de Marrakech, c’est un incontournable à faire à Marrakech ! Le musée se trouve dans le Palais Dar Mnebhi qui a été construit à la fin du 19ème siècle et est un exemple parfait de l’architecture andalouse classique</p>
<h2>Les montagnes de l’Atlas</h2>
<p><img class="aligncenter size-full wp-image-326" src="https://cdn.generationvoyage.fr/2019/03/montagnes_de_1551431906-e1551431923900.jpg" alt="Les montagnes de l’Atlas" width="770" height="370"></p>
<p>À quelques heures de voiture de Marrakech, la Vallée de l’Ourika dans le haut Atlas marocain est un véritable spectacle à voir. La température peut chuter, apportez donc un petit pull ou une veste et prenez vos meilleures chaussures de marche.</p>
<h2>La Place Jemaa el-Fna</h2>
<p><img class="aligncenter size-full wp-image-326" src="https://cdn.generationvoyage.fr/2017/07/visiter-marrakech3.jpg" alt="La Place Jemaa el-Fna" width="770" height="370"></p>
<p>Vous passerez sûrement sur la Place Jemaa el-Fna (« place des trépassés ») si vous venez visiter Marrakech. Cette célèbre place publique attire plus d’un million de visiteurs chaque année. « L’espace culturel de la place Jemaa el-Fna » est inscrit patrimoine culturel immatériel depuis 2008 et au patrimoine mondial depuis 1985 par l’Unesco.</p> 
<h2>Oasiria Marrakech</h2>
<p><img class="aligncenter size-full wp-image-326" src="https://cdn.generationvoyage.fr/2017/07/visiter-marrakech11-e1551434248430.jpg" alt="Oasiria Marrakech" width="770" height="370"></p>
<p>Que faire à Marrakech lorsqu’on a des enfants ou que l’on veut se baigner pour échapper à la chaleur écrasante de la ville ? Direction Oasiria Marrakech, bien sûr ! Il s’agit là du premier parc aquatique du Maroc !</p> 
					<div class="cleaner">&nbsp;</div>



				</div><!-- end .post-content -->

{% endblock content %}