{% extends "SITEAPP/base.html" %}
{% load static %}
{% block content %}
<div id="content">


				<h1 class="title title-large">Hébergements à Marrakech </h1>

				<div class="post-content">
					

<h2>Riad 117 </h2>
<p><img class="aligncenter size-full wp-image-326" src="https://q-cf.bstatic.com/images/hotel/max1024x768/157/157986044.jpg" alt=" Riad 117" width="770" height="370"></p>
<p>Le Riad 117 est situé au cœur de Marrakech, à 1 km du parking de la Koutoubia. Cet établissement propose un service de concierge et une piscine extérieure ouverte </p>
<h2>2Ciels Boutique Hôtel </h2>
<p><img class="aligncenter size-full wp-image-326" src="https://q-cf.bstatic.com/images/hotel/max1024x768/766/76612352.jpg" alt="2Ciels Boutique Hôtel" width="770" height="370"></p>
<p>Doté d'un restaurant, d'une piscine extérieure et d'une terrasse bien exposée, le 2Ciels Boutique Hôtel propose des chambres climatisées à Marrakech, à 400 mètres du centre commercial Marrakech Plaza. Une connexion Wi-Fi est disponible gratuitement dans l'ensemble de l'établissement</p>
<h2> Riad Farhan</h2>
<p><img class="aligncenter size-full wp-image-326" src="https://r-cf.bstatic.com/images/hotel/max1024x768/566/56618444.jpg" alt="Riad Farhan" width="770" height="370"></p>
<p>Situé à Marrakech, le Riad Farhan est pourvu d'une piscine intérieure et d'une connexion Wi-Fi gratuite.Toutes les chambres sont climatisées et comportent un coin salon. Les salles de bains privatives sont munies d'une baignoire ou d'une douche.</p>
<h2>Riad Khol </h2>
<p><img class="aligncenter size-full wp-image-326" src="https://r-cf.bstatic.com/images/hotel/max1024x768/461/46116598.jpg" alt=" Riad Khol" width="770" height="370"></p>
<p>Le Riad Khol est situé au cœur de la médina de Marrakech, à 10 minutes à pied de la place Jamaâ El Fna et dispose d'une terrasse panoramique surplombant la médina et les montagnes de l'Atlas. Il comporte un hammam, une terrasse bien exposée et une piscine privée. Une connexion Wi-Fi est disponible gratuitement</p>
<h2>Les Jardins De La Koutoubia</h2>
<p><img class="aligncenter size-full wp-image-326" src="https://r-cf.bstatic.com/images/hotel/max1024x768/791/7915205.jpg" alt=" Les Jardins De La Koutoubia" width="770" height="370"></p>
<p>Le luxueux hôtel Les Jardins De La Koutoubia est situé à 2 minutes de marche de la célèbre place Jamaâ El Fna. Il propose un spa Carita, un jacuzzi et une piscine extérieure entourée de palmiers.

S'ouvrant sur une terrasse, toutes les chambres spacieuses et climatisées sont équipées d'un minibar et d'une télévision. Certaines sont dotées d'un salon élégant. Leur salle de bains privative est pourvue d'articles de toilette.
Par ailleurs, le restaurant Les Jardins de Bala vous servira des spécialités indiennes. Vous aurez aussi la possibilité de déguster un verre au piano-bar ou sur le toit-terrasse.</p>
<h2>Riad N18 Marrakech </h2>
<p><img class="aligncenter size-full wp-image-326" src="https://r-cf.bstatic.com/images/hotel/max500/229/229725574.jpg" alt="Riad N18 Marrakech " width="770" height="370"></p>
<p>Doté d’une terrasse, d’un salon commun et d’une connexion Wi-Fi gratuite, le Riad N18 Marrakech bénéficie d’un emplacement idéal dans la médina de Marrakech. Ce riad se trouve à proximité de plusieurs sites très touristiques, à 600 mètres du Jardin Secret, à moins de 1 km de la mosquée Koutoubia et à 10 minutes à pied du musée Boucharouite. La réception est ouverte 24h/24, et vous profiterez d’une cuisine commune et d’un service de change.
Les hébergements de cette maison d'hôtes sont équipés d'un patio offrant une vue sur la ville. Leur salle de bains privative est pourvue d'une douche, d'un sèche-cheveux et d'articles de toilette gratuits. Les logements du Riad N18 Marrakech disposent également d’un coin salon.</p>



				</div><!-- end .post-content -->

{% endblock content %}