{% extends "SITEAPP/base.html" %}
{% load static %}
{% block content %}
<div id="content">


				<h1 class="title title-large">Restaurants à Marrakech </h1>

				<div class="post-content">
					

<h2>Bistrot Romain</h2>
<p><img class="aligncenter size-full wp-image-326" src="https://media-cdn.tripadvisor.com/media/photo-s/05/9c/59/98/very-modern-and-contemporary.jpg" alt="Bistrot Romain" width="770" height="370"></p>
<h3>Détails</h3>
<p>CUISINES<br>
Française, Européenne, Marocaine, Internationale, Méditerranéenne<br>
RÉGIMES SPÉCIAUX<br>
Végétariens bienvenus<br>
REPAS<br>
Déjeuner, Dîner, Ouvert tard, Boissons</p>
<h2>Casa Lalla Restaurant</h2>
<p><img class="aligncenter size-full wp-image-326" src="https://media-cdn.tripadvisor.com/media/photo-s/14/fa/e5/8b/patio-salle-restaurant.jpg" alt="Casa Lalla Restaurant" width="770" height="370"></p>
<h3>Détails</h3>
<p>CUISINES<br>
Française, Marocaine, Européenne, Internationale<br>
RÉGIMES SPÉCIAUX<br>
Végétariens bienvenus, Choix végétaliens</p>
<h2>L'Mida Marrakech</h2>
<p><img class="aligncenter size-full wp-image-326" src="https://media-cdn.tripadvisor.com/media/photo-s/1a/63/87/bd/l-mida-marrakech-the.jpg" alt="L'Mida Marrakech" width="770" height="370"></p>
<h3>Détails</h3>
<p>CUISINES<br>
Marocaine, Méditerranéenne, Moderne<br>
REPAS<br>
Déjeuner, Dîner</p>
<h2>Dar Zellij</h2>
<p><img class="aligncenter size-full wp-image-326" src="https://media-cdn.tripadvisor.com/media/photo-s/0f/c8/00/f4/dar-zellij.jpg" alt="Dar Zellij" width="770" height="370"></p>
<p>CUISINES<br>
Africaine, Marocaine, Méditerranéenne, Moyen-Orient<br>
RÉGIMES SPÉCIAUX<br>
Végétariens bienvenus, Choix végétaliens, Halal, Plats sans gluten</p>
<h2>Le Trou au Mur</h2>
<p><img class="aligncenter size-full wp-image-326" src="https://media-cdn.tripadvisor.com/media/photo-s/10/d1/1c/29/dining-room-le-trou-au.jpg" alt="Le Trou au Mur" width="770" height="370"></p>
<p>CUISINES<br>
Marocaine, Internationale, Européenne, Moyen-Orient<br>
RÉGIMES SPÉCIAUX<br>
Végétariens bienvenus, Choix végétaliens, Plats sans gluten</p>
<h2>Jemaa ElFna Restaurant</h2>
<p><img class="aligncenter size-full wp-image-326" src="https://media-cdn.tripadvisor.com/media/photo-s/15/2b/68/81/interior-pool.jpg" alt="Jemaa ElFna Restaurant" width="770" height="370"></p>
<p>CUISINES<br>
Marocaine, Moyen-Orient, Internationale<br>
RÉGIMES SPÉCIAUX<br>
Végétariens bienvenus, Choix végétaliens</p>



				</div><!-- end .post-content -->

{% endblock content %}